doctype
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/stylesheets/main.css")
    
    script(src="charcount.js" defer)
    script(src="image.js" defer)
    
    

    title Online Steganography Tool
  body
    main.container
      nav.menu
        img(src="images/STlogo.png")
        h1 Steganography Tool
      ul(class="buttons")
          li 
              a(href='/') Encode 
          li 
              a(href='decode') Decode  
      h2 Decode
    //-   include ./imageEncode
      
