doctype
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/stylesheets/main.css")
    
    script(src="charcount.js" defer)
    script(src="image.js" defer)
    script(src="instructions.js" defer)

    link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')
    link(rel='manifest' href='images/favicon/site.webmanifest')
    
    
    title Online Steganography Tool
  body
    main.container
      nav.menu
        img(src="images/STlogo.png")
        h1 Steganography Tool
        .info-container
          img.info-image(src='images/info.png' alt='Info')
          p.info-text Click for instruction

      ul(class="buttons")
          li 
              a(id="activeButton" href = "javascript:void(0)" onclick="navPage('Encode')") Encode 
          li 
              a(id="inactiveButton" href = "javascript:void(0)" onclick="navPage('Decode')") Decode       
      include ./imageEncode
      include ./imageDecode
      
