doctype
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Online Steganography Tool
    
  body

    #container
      include ./navmenu
      include ./imageEncode
      #encodemessage
        label(for='message_box') Enter your message here:
        br
        textarea#messagebox(name='message_box' rows='4' cols='50')
       
      
      
