div(id="inactive")
    article.decoding
        section.image-container(ondrop="dropImage(event)" ondragover="dragImageOver(event)")
            img(class="image before" max-width="200px" src="images/UploadIcon.svg")
            input(id="inputImage" name="inputImage" type="file" onchange="imageInputFromButton()" accept=".jpg, .jfif, .jpeg|image/*")
        section.message-container
            .message-input
                label(for="messageInput") Decoded Message 
                textarea#messageInput(readonly name='messageInput' rows='4' cols='50')
                span#wordCount 0
                |  Characters

            button#decodeButton(class="button" onClick="decodeImage()") Decode Image
