#encode
    #image-upload
         #image-box
            form(method='post' enctype='multipart/form-data' action='/upload')
            label(class = "button" for = "actual-btn") Upload Image
                input(type='file' name='inputFile' onchange = 'form.submit()' id = "actual-btn" hidden)
            #image-preview