

.encoding
    .image-upload-container
        img(class="image" max-width="200px")
        label(for="inputImage") Upload Image
        input(id="inputImage" name="inputImage" type="file" onchange="showImage()" accept="image/*")
    .message-container
        .message-input
            label(for="messageInput") Input message 
            textarea#messageInput(name='messageInput' rows='4' cols='50')            
            p
            span#wordCount 0
            |  Characters

        //Encode Select
        .encode-input
            label(for="encodingMethod") Select Encoding Method 
            select#encodingMethod(name="encodingMethod")
                option(value="Option1") Option1 
                option(value="Option2") Option2
        button(class="button") Encode Image
        