doctype
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/stylesheets/main.css")
    title Online Steganography Tool
  body
    block navmenu
    block content
