extends encode 

block nav
    #container
        #menu
            h1 Online Steganography Tool
            button(class="button") Encode 
            button(class="button") Decode
        #encode
            #image-upload
                #image-box
                    button(class="button") Upload Image
                    #image-preview
