link(rel='stylesheet', href='/stylesheets/style.css')

#menu
    h1 Online Steganography Tool
    
    #button
        button(class="button") Encode 
        button(class="button") Decode
    div(style= "background-color:black; width: 100%")